/* src/App.css or specific Content.css */

/* Content Styling */
.content {
    padding: 20px;
    margin: 20px;
    /* background-color: #fff; */
    background-color: var(--bg-color);
    transition: background-color 0.7s ease; /* Smooth transition */
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .content h1 {
    color: #0a3d65;
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .content h2 {
    color: #007bff;
    font-size: 22px;
    margin-top: 20px;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .content li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .content strong {
    font-weight: bold;
  }
  