/* src/components/Footer.css */

.footer {
  background-color: var(--bgHF-color, #0a3d65);
  transition: background-color 0.7s ease; /* Smooth transition */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;  /* Use relative position to ensure it doesn't overlap content */
  width: 100%;
  bottom: 0;
}
  
  .footer .social-links {
    list-style-type: none;
    padding: 0;
  }
  
  .footer .social-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer .social-links li a {
    color: white;
    text-decoration: none;
  }
  
  
  